/* styling the parapllax effect - https://www.w3schools.com/howto/howto_css_parallax.asp*/
body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: rgb(0, 0, 0);
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("../images/morse-code1.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../images/morse-code2.jpg");
  min-height: 500px;
  text-align: right;
}

.bgimg-3 {
  background-image: url("../images/morse-code3.jpg");
  min-height: 400px;
}
/* style home top of the page*/
.caption {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  font-size: 25px;
}

/* style "what is" section */

.whatis {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 20px 40px;
  text-align: justify;
}

/* style "rules" section */

.rules {
  position: relative;
  color: #ddd;
  background-color: #282e34;
  text-align: center;
  padding: 25px 40px;
  text-align: justify;
}

/* style morse code mesage */

.morse-message {
  color: #ddd;
  background-color: #282e34;
  text-align: center;
  padding: 50px 80px;
}

/* general elements styling */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  background-color: black;
  color: #fff;
  display: inline;
  padding: 0.5rem;
  font-size: 60px;
  box-decoration-break: clone;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
  text-align: center;
}
h4 {
  text-align: center;
}

/* morse code image between what is and rules sections */

.img-morse-code {
  height: 450px;
  width: 320px;
}

/* button styling */

.red-button {
  background-color: #dc3545;
  border: 1px;
  color: white;
  padding: 2px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.red-button:hover {
  background-color: red;
  text-decoration: none;
  color: black;
}

.yellow-button {
  background-color: #ffc107;
  border: none;
  color: black;
  padding: 2px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
.yellow-button:hover {
  background-color: yellow;
  text-decoration: none;
  color: black;
}

.green-button {
  background-color: #28a745;
  border: none;
  color: white;
  padding: 2px 55px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.green-button:hover {
  background-color: green;
  text-decoration: none;
  color: black;
}

/* navbar align items in the center*/

.navbar-nav {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.menu-game {
  text-align: center;
  padding: 5px 5px;
}

/* game styling*/

.game-numbers {
  margin: auto;
  width: 90vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 10px;
}

.game-numbers button {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 2rem;
  border: solid black 1px;
}

.game-numbers img {
  width: 12.5vh;
  pointer-events: none;
}

.win-container {
  grid-column: 2/4;
  grid-row: 2/4;

  background-color: rgba(0, 128, 0, 0.85);
  display: none;
  border: black solid 1px;
  flex-direction: column;

  text-transform: uppercase;
  font-family: roboto;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 9vmin;
  text-decoration: none;
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
  /* resize to fit small screens*/
  h1 {
    background-color: black;
    color: #fff;
    display: inline;
    padding: 0.5rem;
    font-size: 40px;
    box-decoration-break: clone;
  }
}

/* hide text from navbar on small screens, hide full screen and sound as its easy to control on mobile deivice */
@media only screen and (max-width: 767px) {
  .hidde-on-small-screen {
    display: none !important;
  }

  /* resize images from cards to fit on a small screen */
  .game-numbers {
    margin: auto;
    width: 95vw;
    height: 90vh;
  }
  .game-numbers img {
    width: 9vh;
    pointer-events: none;
  }
}

/* hide text from navbar on small screens, hide full screen and sound as its easy to control on mobile deivice, reduce card size*/
@media only screen and (max-width: 480px) {
  .hidde-on-small-screen {
    display: none !important;
  }

  /* resize images from cards to fit on a small screen */
  .game-numbers {
    margin: auto;
    width: 90vw;
    height: 90vh;
  }
  .game-numbers img {
    width: 6vh;
    pointer-events: none;
  }
 .img-morse-code {
  height: 346px;
  width: 246px;
}
}

@media only screen and (max-width: 340px) {

  .game-numbers img {
    width: 4vh;
    pointer-events: none;
  }
}